<%- include('../base/top') %>

<div class="bg-stone-100 rounded-xl p-10 m-10">
    <div class="px-4 sm:px-0">
        <h3 class="text-2xl">User Information</h3>
        <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">View user information</p>
    </div>

    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">ID</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= user.id %></dd>
            </div>
        </dl>
    </div>

    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Email</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= user.email %></dd>
            </div>
        </dl>
    </div>

    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Username</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= user.name %></dd>
            </div>
        </dl>
    </div>

    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Account Type</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= user.accountType %></dd>
            </div>
        </dl>
    </div>
</div>

<a href="/user/update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
<a href="/user/signout" class="bg-blue-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Sign Out</a>
<a href="/user/delete" class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Delete</a>

<%- include('../base/bottom') %>
