<br>
<div class="border-dashed border-1 p-3 m-3 rounded-xl">
    <p class="">Name: <%= clss.name %></p><br>
    <a href="/class/read?id=<%= clss.id %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View</a>
    <a href="/class/update?id=<%= clss.id %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
    <a href="/class/enrollment?id=<%= clss.id %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enrollment</a>
    <a href="/class/delete?id=<%= clss.id %>" class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Delete</a>
</div>